# Build çıktıları
dist/
build/
*.egg-info/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Test görselleri
*.png
*.jpg

# Virtual environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db